<script setup lang="ts">
import {ref, watch} from "vue";
import {ModalPosition, NotificationProvider, NotificationStore, Option, PayloadUploadChunk} from "modable";
import Request from "./plugins/request";
import Helper from "./plugins/helper";
import LoaderProvider from "./providers/LoaderProvider.vue";
import ConfirmDialogProvider from "./providers/ConfirmDialogProvider.vue";
import DialogState from "./stores/dialog";
import LoaderState from "./stores/loader";
import Notifier from "./plugins/notifier";
import {UserFile, UserFolder, UserPath, FileData} from "./defination/types.ts";
import {t} from "./plugins/i18n";


const sortOptions: Option[] = [
    {
        name: t('name_asc'),
        value: 'name_asc'
    },
    {
        name: t('name_desc'),
        value: 'name_desc'
    },
    {
        name: t('date_asc'),
        value: 'date_asc'
    },
    {
        name: t('date_desc'),
        value: 'date_desc'
    },
    {
        name: t('size_asc'),
        value: 'size_asc'
    },
    {
        name: t('size_desc'),
        value: 'size_desc'
    },
]
const sort = ref<Option>(sortOptions[0])
const fileTypeOptions: Option[] = [
    {
        name: t('all'),
        value: 'all'
    },
    {
        name: t('image'),
        value: 'images'
    },
    {
        name: t('video'),
        value: 'videos'
    },
    {
        name: t('document'),
        value: 'documents'
    },
]
const fileType = ref<Option>(fileTypeOptions[0])
const isShowDetail = ref(false)
const files = ref<UserFile[]>([])
const folders = ref<UserFolder[]>([])
const paths = ref<UserPath[]>([
    {
        name: 'Root',
        path: '',
    }
])
const isShowCreateFolder = ref<boolean>(false)
const newFolderName = ref<string>('')
const isShowUpload = ref<boolean>(false)
const uploader = ref(null)
const mimeTypes = Helper.bindingAppState('mimeTypes')
const chunkSize = Helper.bindingAppState('chunkSize')
const usingType = Helper.bindingAppState('usingType')

const getFiles = async (folder: string) => {
    LoaderState.actions.showLoader()
    try {
        const url = Helper.getRoute('files') + (folder ? `?folder=${folder}` : '')
        const response = await Request.get(url, {
            withCors: true,
            withLocale: true,
            withCsrf: true,
        })
        files.value = response.data.files.map((file: FileData) => {
            return {
                name: file.name,
                path: file.path,
                type: file.type,
                size: file.size,
                url: file.url,
                lastModified: file.lastModified,
                isImage: isImage(file),
                isVideo: isVideo(file),
                isDocument: isDocument(file),
                isHidden: false,
                isSelected: false,
            }
        })
        paths.value = response.data.paths

    } catch (error: any) {
        console.error(error)
    }
    LoaderState.actions.hideLoader()
}

const getFolders = async (folder: string) => {
    LoaderState.actions.showLoader()
    try {
        const url = Helper.getRoute('folders') + (folder ? `?folder=${folder}` : '')
        const response = await Request.get(url, {
            withCors: true,
            withLocale: true,
            withCsrf: true,
        })
        folders.value = response.data.folders
        paths.value = response.data.paths
    } catch (error: any) {
        console.error(error)
    }
    LoaderState.actions.hideLoader()
}

const createFolder = async () => {
    LoaderState.actions.showLoader()
    try {
        const url = Helper.getRoute('folders')
        const response = await Request.post(url, {
            name: newFolderName.value,
            folder: paths.value[paths.value.length - 1].path
        })
        folders.value.push(response.data)
        isShowCreateFolder.value = false
        Notifier.success(
            NotificationStore,
            t('success'),
            t('folder_created_successfully')
        )
    } catch (error: any) {
        console.error(error)
        Notifier.error(
            NotificationStore,
            t('error'),
            t('failed_to_create_folder')
        )
    }
    LoaderState.actions.hideLoader()
}

const deleteCurrentFolder = async () => {
    LoaderState.actions.showLoader()
    try {
        const currentPath = paths.value[paths.value.length - 1]
        const url = Helper.getRoute('folders') + `?folders[]=${currentPath.path}`
        await Request.delete(url)
        folders.value = folders.value.filter((f) => f.path !== currentPath.path)
        paths.value = paths.value.filter((p) => p.path !== currentPath.path)
        await discoverPath(paths.value[paths.value.length - 1].path)
        Notifier.success(
            NotificationStore,
            t('success'),
            t('folder_deleted_successfully')
        )
    } catch (error: any) {
        console.error(error)
        Notifier.error(
            NotificationStore,
            t('error'),
            t('failed_to_delete_folder')
        )
    }
    LoaderState.actions.hideLoader()
}

const beforeDeleteFolder = () => {
    DialogState.actions.show({
        message: t('are_you_sure_to_delete_folder'),
        confirmLabel: t('delete'),
        cancelLabel: t('cancel'),
        onConfirm: async () => {
            await deleteCurrentFolder();
        }
    });
}

const deleteFiles = async () => {
    LoaderState.actions.showLoader()
    try {
        const selectedFiles = files.value.filter((file) => file.isSelected && !file.isHidden)
        const queryString = selectedFiles.map(file => `files[]=${encodeURIComponent(file.path)}`).join('&');
        const url = Helper.getRoute('files') + `?${queryString}`
        await Request.delete(url)
        files.value = files.value.filter((file) => !file.isSelected && !file.isHidden)
        Notifier.success(
            NotificationStore,
            t('success'),
            t('files_deleted_successfully')
        )
    } catch (error: any) {
        console.error(error)
        Notifier.error(
            NotificationStore,
            t('error'),
            t('failed_to_delete_files')
        )
    }
    LoaderState.actions.hideLoader()
}

const beforeDeleteFiles = () => {
    DialogState.actions.show({
        message: t('are_you_sure_to_delete_files', { fileCount: countSelectedFiles() }),
        confirmLabel: t('delete'),
        cancelLabel: t('cancel'),
        onConfirm: async () => {
            await deleteFiles();
        }
    });
}

const hasSelectedFiles = () => {
    return files.value.some((file) => file.isSelected)
}

const countSelectedFiles = () => {
    return files.value.filter((file) => file.isSelected).length
}

const isImage = (file: FileData) => {
    return file.type.includes('image')
}

const isVideo = (file: FileData) => {
    return file.type.includes('video')
}

const isDocument = (file: FileData) => {
    return !isImage(file) && !isVideo(file)
}

const filterFiles = () => {
    if (fileType.value.value === 'images') {
        files.value.forEach((file) => {
            file.isHidden = !file.isImage
        })
    } else if (fileType.value.value === 'videos') {
        files.value.forEach((file) => {
            file.isHidden = !file.isVideo
        })
    } else if (fileType.value.value === 'documents') {
        files.value.forEach((file) => {
            file.isHidden = !file.isDocument
        })
    } else {
        files.value.forEach((file) => {
            file.isHidden = false
        })
    }
}

const sortFiles = () => {
    if (sort.value.value === 'name_asc') {
        files.value.sort((a, b) => a.name.localeCompare(b.name))
    } else if (sort.value.value === 'name_desc') {
        files.value.sort((a, b) => b.name.localeCompare(a.name))
    } else if (sort.value.value === 'date_asc') {
        files.value.sort((a, b) => a.lastModified - b.lastModified)
    } else if (sort.value.value === 'date_desc') {
        files.value.sort((a, b) => b.lastModified - a.lastModified)
    } else if (sort.value.value === 'size_asc') {
        files.value.sort((a, b) => a.size - b.size)
    } else if (sort.value.value === 'size_desc') {
        files.value.sort((a, b) => b.size - a.size)
    }
}

const selectFile = (file: UserFile) => {
    file.isSelected = !file.isSelected
    isShowDetail.value = files.value.some((file) => file.isSelected)
}

const unselectFiles = () => {
    files.value.forEach((file) => {
        file.isSelected = false
    })
    isShowDetail.value = false
}

const discoverPath = async (path: string) => {
    await getFolders(path);
    await getFiles(path);
    sortFiles()
    filterFiles()
}

const onUpload = async (payload: PayloadUploadChunk) => {
    try {
        const url = Helper.getRoute('files');
        const response = await Request.post(url, payload)
        return response.data
    } catch (e: any) {
        const errors = Request.errors(e.response)
        const message = errors.join('\n')
        Notifier.error(
            NotificationStore,
            t('error'),
            message
        )
    }
}

const onSuccess = (payload: FileData[]) => {
    payload.forEach((file: FileData) => {
        files.value.push({
            name: file.name,
            path: file.path,
            type: file.type,
            size: file.size,
            url: file.url,
            lastModified: file.lastModified,
            isImage: isImage(file),
            isVideo: isVideo(file),
            isDocument: isDocument(file),
            isHidden: false,
            isSelected: false
        })
    })
    isShowUpload.value = false
    Notifier.success(
        NotificationStore,
        t('success'),
        t('files_uploaded_successfully')
    )
}

const onError = (e: any) => {
    console.log(e)
}

const startUpload = async () => {
    if (uploader.value) {
        // @ts-ignore
        await uploader.value.upload()
    }
}

const downloadFiles = async () => {
    const selectedFiles = files.value.filter((file) => file.isSelected && !file.isHidden)
    selectedFiles.forEach((file) => {
        const link = document.createElement('a');
        link.href = file.url;
        link.download = file.name;
        link.target = '_blank';
        document.body.appendChild(link);
        link.click();
        link.remove();
    })
}
const sendFileUrlsToSelector = () => {
    const selectedFiles = files.value.filter((file) => file.isSelected && !file.isHidden)
    const urls = selectedFiles.map((file) => file.url)

    if (usingType === 'ckeditor') {
        window.opener.CKEDITOR.tools.callFunction(window.opener.CKEDITOR.dialog._.currentDialog._.params.onSelect, urls);
    }
    if (usingType === 'tinymce') {
        window.opener.tinymce.activeEditor.windowManager.getParams().onSelect(urls);
    }
    if (usingType === 'file-manager') {
        window.opener.fileManagerClient.onSelected(urls);
        window.close();
    }
}

discoverPath('')

watch(() => fileType.value, () => {
    filterFiles()
})

watch(() => sort.value, () => {
    sortFiles()
})
</script>

<template>
    <LoaderProvider/>
    <ConfirmDialogProvider/>
    <NotificationProvider/>
    <div class="modable fileManager" :class="[
        isShowDetail ? 'isShowDetail' : ''
    ]">
        <div class="navbar">
            <div class="navbar__breadcrumb">
                <div
                    v-for="path in paths" :key="path.name"
                    class="navbar__breadcrumb__item"
                    @click="discoverPath(path.path)"
                >
                    {{ path.name }}
                </div>
            </div>
            <div class="navbar__content">
                <div class="navbar__item">
                    <ComButton
                        class="comButton--primary"
                        @click="isShowUpload = true"
                    >
                        <i class="icon-cloud-upload"/>
                        {{ t('upload') }}
                    </ComButton>
                </div>
                <div class="navbar__item">
                    <ComButton
                        class="comButton--warning"
                        @click="isShowCreateFolder = true"
                    >
                        <i class="icon-folder"/>
                        {{ t('new_folder') }}
                    </ComButton>
                </div>
                <div class="navbar__item">
                    <ComButton
                        v-if="paths.length > 1"
                        @click="beforeDeleteFolder"
                        class="comButton--danger"
                    >
                        <i class="icon-trash"/>
                        {{ t('delete_folder')}}
                    </ComButton>
                </div>

            </div>
        </div>
        <div v-if="hasSelectedFiles()" class="fileManager__actions">
            <ComButton
                class="comButton--primary"
                @click="sendFileUrlsToSelector"
            >
                <i class="icon-check"/>
                {{ t('select') }}
            </ComButton>
            <ComButton
                class="comButton--success"
                @click="downloadFiles"
            >
                <i class="icon-download"/>
                {{ t('download') }}
            </ComButton>
            <ComButton
                class="comButton--danger"
                @click="beforeDeleteFiles"
            >
                <i class="icon-trash"/>
                {{ t('delete') }}
            </ComButton>
        </div>
        <div class="main">
            <div class="sidebar">
                <div class="sidebar__header">
                    <div class="sidebar__header__logo">F</div>
                    <div class="sidebar__header__name"> {{ t('file_manager') }}</div>
                </div>
                <div class="sidebar__menu">
                    <div class="sidebar__menu__heading">
                        {{ t('sort_by') }}
                    </div>
                    <ComSelectBox :options="sortOptions" v-model="sort"/>
                    <div class="sidebar__menu__heading">
                        {{ t('file_type') }}
                    </div>
                    <ComSelectBox :options="fileTypeOptions" v-model="fileType"/>
                    <div class="sidebar__menu__heading">
                        {{ t('folders') }}
                    </div>
                    <div
                        v-for="folder in folders" :key="folder.name"
                        class="sidebar__menu__item"
                        @click="discoverPath(folder.path)"
                    >
                        <i class="icon-folder"/>
                        {{ folder.name }}
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="fileManager__fileList">
                    <div class="card fileManager__file"
                         v-for="file in files" :key="file.name"
                         v-show="!file.isHidden"
                         @click="selectFile(file)"
                         :class="[
                            file.isSelected ? 'isSelected' : '',
                         ]"
                    >
                        <img v-if="file.isImage" :src="file.url" :alt="file.name" loading="lazy"/>
                        <i v-if="file.isVideo" class="icon-film"/>
                        <i v-if="file.isDocument" class="icon-document"/>
                        <span>{{ file.name }}</span>
                    </div>
                </div>
            </div>
        </div>
        <TransitionGroup
            appear
            tag="div"
            enter-active-class="transform ease-out duration-300 transition"
            enter-from-class="translate-x-4 opacity-0"
            enter-to-class="translate-x-0 opacity-100"
            leave-active-class="transition ease-in duration-100"
            leave-from-class="opacity-100"
            leave-to-class="opacity-0"
            move-class="transition ease-in-out duration-500"
        >
            <div v-if="isShowDetail" class="notibar">
                <div class="notibar__header">
                    <div class="notibar__header__name">
                        {{ t('files_selected', { number: countSelectedFiles() }) }}
                    </div>
                    <div class="notibar__header__icon">
                        <i class="icon-x-close" @click="unselectFiles"/>
                    </div>
                </div>
                <div class="notibar__content">
                    <div class="flex flex-col gap-5">
                        <div class="card fileManager__fileDetail"
                             v-for="file in files" :key="file.name"
                             v-show="!file.isHidden && file.isSelected"
                        >
                            <div class="fileManager__fileDetail__preview">
                                <img v-if="file.isImage" :src="file.url" :alt="file.name" loading="lazy"/>
                                <video v-if="file.isVideo" :src="file.url" controls/>
                                <i v-if="file.isDocument" class="icon-document"/>
                            </div>
                            <div class="fileManager__fileDetail__detail">
                                <div class="name">{{ t('name') }}: {{ file.name }}</div>
                                <div class="type">{{ t('file_type') }}: {{ file.type }}</div>
                                <div class="size">{{ t('size') }}: {{ Math.round(file.size / 1024) }} KB</div>
                                <div class="lastModified">{{ t('last_modified') }}: {{ new Date(file.lastModified) }}</div>
                            </div>
                            <div class="fileManager__fileDetail__remover" @click="selectFile(file)">
                                <i class="icon-close-circle"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </TransitionGroup>
    </div>
    <ComModal
        :visible="isShowCreateFolder"
        :position="ModalPosition.CENTER"
    >
        <div class="modable">
            <div class="form form--horizontal">
                <div class="form__section">
                    <div class="form__item">
                        <ComTextBox v-model="newFolderName" :placeholder="t('enter_folder_name')"/>
                    </div>
                    <div class="flex gap-1">
                        <ComButton
                            class="comButton--primary"
                            @click="createFolder"
                        >
                            <i class="icon-check"></i>
                            {{ t('create') }}
                        </ComButton>
                        <ComButton
                            @click="isShowCreateFolder = false"
                        >
                            <i class="icon-close"></i>
                            {{ t('cancel') }}
                        </ComButton>
                    </div>

                </div>
            </div>
        </div>

    </ComModal>
    <ComModal
        :visible="isShowUpload"
        :position="ModalPosition.CENTER"
    >
        <div class="modable">
            <div class="form form--horizontal">
                <div class="form__section">
                    <div class="form__item">
                        <ComChunkUploader
                            style="min-width: 350px"
                            ref="uploader"
                            :on-upload="onUpload"
                            :on-success="onSuccess"
                            :on-error="onError"
                            :multiple="true"
                            :auto-upload="false"
                            :chunk-size="chunkSize"
                            :mimetypes="mimeTypes"
                        />
                    </div>
                </div>
                <div class="form__action">
                    <ComButton
                        class="comButton--primary"
                        @click="startUpload">
                        <i class="icon-upload"></i>
                        {{ t('start_uploading') }}
                    </ComButton>
                    <ComButton
                        @click="isShowUpload = false"
                    >
                        <i class="icon-close"/>
                        {{ t('close') }}
                    </ComButton>
                </div>
            </div>
        </div>

    </ComModal>
</template>
