@import "../node_modules/modable/dist/modable.css";
@import "../node_modules/modable/dist/light.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


.fileManager {
    width: 100%;
    height: 100%;
    margin: 0;

    .main, .navbar {
        transition: all 0.3s ease;
    }
    .navbar {
        justify-content: space-between;
        padding-left: calc(var(--sidebar-width) + 1.25rem);

        &__breadcrumb {
            @apply flex items-center gap-2;
            &__item {
                @apply flex items-center gap-1;
                i {
                    font-size: 1.5rem;
                }
                &:hover {
                    color: var(--theme-color);
                    cursor: pointer;
                }
                &:not(:first-child) {
                    &:before {
                        content: "/";
                        margin-right: 0.3rem;
                    }
                }
            }
        }

        &__content {
            @apply flex items-center gap-4 justify-end;
        }
    }

    &.isShowDetail {
        .main, .navbar {
            padding-right: calc(var(--notibar-width) + 1rem) !important;
        }
    }

    &__actions {
        position: fixed;
        z-index: 3;
        bottom: 1rem;
        right: 1rem;
        box-shadow: var(--shadow);
        border-radius: var(--border-radius);
        @apply flex justify-center p-5 gap-2 items-center;
    }

    &__fileList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 1rem;
    }

    &__file {
        width: 150px !important;
        height: 150px !important;
        @apply relative cursor-pointer text-center;
        &.isSelected {
            border: 1px solid var(--theme-color);
            span {
                background: var(--theme-color);
                color: var(--color-white);
            }
        }
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: var(--border-radius);
        }
        i {
            font-size: 50px;
            position: absolute;
            top: calc(50% - 30px);
            left: calc(50% - 25px);
        }
        span {
            width: 100%;
            position: absolute;
            bottom: 5px;
            left: 0;
            right: 0;
            background: var(--hover-bg-color);
            color: var(--text-color-3);
            padding: 5px;
            @apply text-ellipsis overflow-x-hidden text-nowrap text-center;
        }
    }

    &__fileDetail {
        @apply flex flex-wrap items-center gap-3 p-5;
        position: relative;
        &__remover {
            position: absolute;
            top: 1rem;
            right: 1rem;
            i {
                color: var(--theme-color);
                font-size: var(--font-size-3);
            }
            &:hover {
                cursor: pointer;
            }
        }
        &__preview {
            width: 100%;
            height: auto;
            @apply flex items-center justify-center;

            img, video {
                width: 100%;
                height: auto;
                object-fit: cover;
                border-radius: var(--border-radius);
            }
            i {
                font-size: 100px;
            }
        }

        &__detail {
            @apply flex flex-col gap-2;
            .name {
                @apply text-lg font-semibold;
            }
            .size, .type, .date {
                @apply text-sm;
            }
        }
    }
}

.loader {
    @apply fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center w-full h-full;
    z-index: 999 !important;

    .loader__icon {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        display: block;
        margin: 15px auto;
        position: relative;
        color: #FFF;
        left: -100px;
        box-sizing: border-box;
        animation: shadowRolling 2s linear infinite;
    }

}

@keyframes shadowRolling {
    0% {
        box-shadow: 0 0 rgba(255, 255, 255, 0), 0 0 rgba(255, 255, 255, 0), 0 0 rgba(255, 255, 255, 0), 0 0 rgba(255, 255, 255, 0);
    }
    12% {
        box-shadow: 100px 0 white, 0 0 rgba(255, 255, 255, 0), 0 0 rgba(255, 255, 255, 0), 0 0 rgba(255, 255, 255, 0);
    }
    25% {
        box-shadow: 110px 0 white, 100px 0 white, 0 0 rgba(255, 255, 255, 0), 0 0 rgba(255, 255, 255, 0);
    }
    36% {
        box-shadow: 120px 0 white, 110px 0 white, 100px 0 white, 0 0 rgba(255, 255, 255, 0);
    }
    50% {
        box-shadow: 130px 0 white, 120px 0 white, 110px 0 white, 100px 0 white;
    }
    62% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white, 110px 0 white;
    }
    75% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white, 120px 0 white;
    }
    87% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 130px 0 white;
    }
    100% {
        box-shadow: 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0), 200px 0 rgba(255, 255, 255, 0);
    }
}
