<script setup lang="ts">
import store from '../stores/dialog'
import {ModalPosition} from "modable";

</script>
<template>
    <teleport to="body">
        <ComModal
            :visible="store.getters.visible()"
            :position="ModalPosition.CENTER"
        >
            <div class="modable">
                <div class="card shadow-md">
                    <div class="card__header">
                        <i class="text-orange-500 font-bold text-3xl icon-question-circle"/> {{ store.getters.message() }}
                    </div>
                    <div class="card__body">
                        <div class="flex justify-center gap-5 items-center">
                            <ComButton
                                class="comButton--sm"
                                @click="store.actions.hide">
                                {{ store.getters.cancelLabel() }}
                            </ComButton>
                            <ComButton
                                class="comButton--sm comButton--danger"
                                @click="store.actions.confirm"
                            >
                                {{ store.getters.confirmLabel() }}
                            </ComButton>
                        </div>
                    </div>
                </div>
            </div>

        </ComModal>
    </teleport>
</template>
