<script setup lang="ts">
import store from '../stores/loader'

</script>
<template>

    <teleport to="body">
        <div v-show="store.getters.isLoading()"
             class="loader"
        >
            <span class="loader__icon"></span>
        </div>
    </teleport>
</template>
